<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Readkami_beta"
        tools:targetApi="31">
        <activity
            android:name=".Activities.Journals_to_Articles.Tinubdan"
            android:exported="false" />
        <activity
            android:name=".Activities.Journals_to_Articles.La_Ricerca"
            android:exported="false" />
        <activity
            android:name=".Activities.Journals_to_Articles.The_Pendulum"
            android:exported="false" />
        <activity
            android:name=".Activities.Journals_to_Articles.Gomanan"
            android:exported="false" />
        <activity
            android:name=".Activities.Journals_to_Articles.UM_Digos_Research_Journal"
            android:exported="false" /> <!-- FileProvider Declaration -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.readkami_beta.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Activities -->
        <activity
            android:name=".Activities.ImageViewerActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Journals_to_Articles.Journal_of_Economy_and_Enterprise"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>